body{
	background-color: lightgrey
}

h1{
font-size: 30px;
color: teal;
}

h2{
color: green;
}

.uppercase
{text-transform: uppercase}

.big.uppercase{
color: orange;
text-transform: uppercase
font-size: 60;
}

h1 span{
color: violet;

}